:root {
    --color-primary: #4267B2; /* Azul do Facebook */
    --color-secondary: #FFFFFF; /* Branco */
    --color-background: #f0f2f5; /* Cinza claro */
    --color-text: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    color: var(--color-text);
}

form {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd; /* Cinza claro */
    border-radius: 5px;
    font-size: 16px;
    color: var(--color-text);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #365899; /* Azul escuro mais escuro */
}

.postsList li {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postsList li .datapost strong {
    font-weight: bold;
}

.postsList li .datapost p {
    margin-top: 10px;
    font-size: 16px;
}

.postsList li .listbuttonv button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.postsList li .listbuttonv button:hover {
    background-color: #365899; /* Azul escuro mais escuro */
}

#perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

.show {
    display: block;
}
